body {
    color: black;
    background-color: white;
}

a {
  font-family: "times", "Times New Roman", serif;
  font-weight: bold;
}

a:link {
    color: black;
    background-color: transparent;
}

a:visited {
    color: black;
    background-color: transparent;
}

a:active, a:hover {
    color: black;
    background-color: transparent;
    opacity: 0.3;
    text-decoration: none;
}

div.emptyline {
    margin-bottom: 0.0em;
}

div#pageDiv {
    zIndex: 1;
    position: absolute;
    top: 0;
    width: 80%;
    max-width: 80%;
}

div#prevPage {
    left: 0;
    position: fixed;
    opacity: 0.6;
    text-align: center;
    color: white;
    background-color: black;
    zIndex: 3;
    min-height: 100%;
    min-width: 10%;
    width: 10%;
    margin-top: 3em;
    line-height: 100px;
}

div#nextPage {
    right: 0;
    position: fixed;
    opacity: 0.6;
    text-align: center;
    color: white;
    background-color: black;
    zIndex: 3;
    min-height: 100%;
    min-width: 10%;
    width: 10%;
    margin-top: 3em;
    line-height: 100px;
}

div#top_left {
    position: fixed;
    top: 0;
    height: 3em;
    width: 10em;
    left: 0;
    width: 10%;
    min-width: 10%;
    line-height: 3em;
    zIndex: 3;
    opacity: 0.6;
    text-align: center;
    background-color: white;
}

div#top_right {
    position: fixed;
    top: 0;
    height: 3em;
    width: 10em;
    right: 0;
    width: 10%;
    min-width: 10%;
    line-height: 3em;
    zIndex: 3;
    opacity: 0.6;
    text-align: center;
    background-color: white;
}

div.page a {
  font-family: "times", "Times New Roman", serif;
  font-weight: bold;
}

div.page a:link {
    color: black;
    background-color: transparent;
}

div.page a:visited {
    color: black;
    background-color: transparent;
}

div.page a:active, a:hover {
    color: black;
    background-color: transparent;
    opacity: 0.3;
    text-decoration: none;
}

div.page {
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 1em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif
}

div {
    font-family: Verdana, Geneva, sans-serif
}
